body{
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: white;
}

.gradient-background {
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

a h1{
    color: white;
}

span {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.bi{
    color: white;
}

.cursive{
    font-family: "Birthstone", cursive;
    font-weight: 500;
    font-size: 4.5rem;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}



